# alias
alias ls='ls -GF'
alias la='ls -a'
alias ll='ls -l'
alias tmux='tmux -u'
alias open='open "`pwd`"'

icloud_path="$HOME/Library/Mobile\ Documents/com~apple~CloudDocs"
alias icloud="cd ${icloud_path}"
alias dotfiles="cd ${icloud_path}/dotfiles"
alias config="cd ${XDG_CONFIG_HOME}"
alias cdrepo='cd $(ghq root)/$(ghq list | peco)'
