#gitignore setting
.hg
.hgignore
*~
.swp
.semantic.cache
.DS_Store
TAGS
.vim/bundle
.vim/bundle/*
.vim/yankring_history_v2.txt
.vim/.netrwhist
.vimperator/info
Package Control.last-run
Package Control.ca-list
Package Control.ca-bundle
Package Control.system-ca-bundle
Package Control.cache/
Package Control.ca-certs/
